__pycache__
.ipynb_checkpoints/
codes_other/
failles/
loc/
mag_model/
model/
obs/
ORGCATALOGS/
picks/
RESULT/
run/
stations/
time/
*.DS_Store
*.xlsx
*.dat
test.ipynb
*.pdf
*.dat
*.mat
*.nd
*.obs
*.png
*.svg
*.gif
*.mp4
*.csv
*.log
*.txt