__pycache__
.ipynb_checkpoints/
.vscode/
codes_other/
failles/
loc/
mag_model/
model/
obs/
org_catalogs/
picks/
RESULT/
run/
stations/
time/
Grid2GMT_SSST.cpt
*.DS_Store
*.xlsx
*.dat
test.ipynb
*.pdf
*.dat
*.mat
*.nd
*.obs
*.png
*.svg
*.gif
*.mp4
*.csv
*.log
*.txt
*.html
temp_picks/all_picks/
*.xy
*.history